@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f4f4f4;
}

#main-container {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#search-input {
  width: 60%;
  padding-bottom: 2rem;
}
html {
  font-size: 10px;
}
body {
  font-size: 3rem;
}
button {
  width: 12rem;
  font-size: 3rem;
}
#main-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

#tools-container {
  display: flex;
  justify-content: center;
  gap: 0.8rem
}

#data-container {
  display: flex;
  justify-content: center;
}

table {
  margin: 1rem;
}
.row {
  background-color: #d3d3d3;
}

td,th {
  padding: 0.8rem;
  text-align: center;
}

tr {
  background-color: #949494;
}

button {
  border-radius: 5px;
  margin: 0.2rem;
  color: white;
  padding: 0.3rem;
  cursor: pointer;
  width: 5.4rem;
  height: 2.5rem;
  background-color: #333;
  border: #333 1px solid;
  font-size: 16px;

}
.edit-btn {
  background-color: #2979ff;
  border: 1px solid #2979ff;
  background-color: rgb(0, 0, 255);

}
.delete-btn {
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
}
.Cancel-btn {
  background-color: #ffd600;
  border: #ffd600 1px solid ;
  color: black;
}
.Confirm-btn {
  background-color: #008000;
  border: #008000 1px solid ;
}
.confirm-btn:hover,
.cancel-btn:hover,
.delete-btn:hover,
.edit-btn:hover {
  opacity: 0.7;
}
.confirm-btn,
.cancel-btn,
.delete-btn,
.edit-btn {
  transition: all ease-in-out 0.2s;
}
@media screen and (max-width: 800px) and (min-width: 699px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 700px) and (min-width: 499px) {
  html {
    font-size: 6px;
  }
}
@media screen and (max-width: 500px) and (min-width: 300px) {
  html {
    font-size: 3.5px;
  }
}
@media screen and (max-width: 299px) and (min-width: 100px) {
  html {
    font-size: 3px;
  }
}
